:root {
  --font_inter: "Inter", sans-serif;
  --font_poppins: "Poppins", sans-serif;
}

body {
  background-color: #efefef;
}

.search {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  font-family: var(--font_poppins);
  border-radius: 50px;
  background-color: #f87979;
  outline: 3px solid #a97ef8;
}

.search input {
  width: 350px;
  height: 36px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px 0 0 20px;
  background-color: #e0e0e0;
  outline: none;
  transition: all 0.2s;
}

.search input:focus {
  background-color: #ffffff;
  outline-offset: 20px;
}

.search button {
  height: 36px;
  border: none;
  border-left: none;
  padding: 5px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  background-color: #15616d;
}

.search button svg {
  fill: white;
}

.search button:hover {
  background-color: #001524;
}

.search button svg {
  margin: 3px 10px 0 5px;
}

table {
  border-collapse: collapse;
  margin: 50px auto;
  font-family: var(--font_inter);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

th {
  letter-spacing: 1px;
}

th,
td {
  padding: 7px;
  margin: 0;
  font-size: 20px;
}

.rows-head:nth-child(1) {
  height: 55px;
  color: rgb(255, 252, 252);
  background-color: #15616d;
}

.rows-head:nth-last-child(1) {
  border-bottom: 1px solid rgb(197, 197, 197);
}

.rows-head th:nth-child(2) {
  width: 130px;
}

.rows:nth-child(even) {
  background-color: #ebebeb;
}
.rows:nth-child(odd) {
  background-color: #dfdbdb;
}

.rows:hover {
  background-color: #aeafaf;
  color: white;
  cursor: default;
}

.rows td:nth-child(1) {
  background-color: #aeafaf;
}

.rows td:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  border-right: 1px solid rgb(187, 183, 183);
}

.rows td:nth-child(2) .line {
  color: rgb(63, 63, 63);
  margin: 8px 5px 0 5px;
  margin-top: 6px;
}

.rows td {
  padding: 10px 20px;
  box-sizing: border-box;
}

.rows td .remove,
span {
  width: fit-content;
}

.rows td:nth-child(2) .remove {
  background-color: #ff0000;
  padding: 7px 10px;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}
.rows td:nth-child(2) .ubah svg {
  margin-top: 3px;
  cursor: pointer;
  fill: #15616d;
}

.rows td:nth-child(2) .ubah svg:hover {
  fill: #001524;
}

.rows td:nth-child(2) .remove:hover {
  background-color: #cc0e0e;
}
